.body{
    color: white;
    padding-bottom: 30px;
background: rgb(24,22,38);
background: linear-gradient(0deg, rgba(24,22,38,1) 0%, rgba(45,41,74,1) 16%, rgba(64,54,128,1) 25%, rgba(45,41,74,1) 34%, rgba(30,27,52,1) 72%, rgba(62,53,116,1) 83%, rgba(45,41,74,1) 92%);}
.logo{
    width: 150px;
    foreground-color: white;
}
::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

#nav-bar{
    background: rgb(45, 41, 74);
}

.myButton {
	background: #2B1B33;
	border-radius:30px;
	border:2px solid #1f2740;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:10px 16px;
	text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}

.text-container{
    height: 657px;
width: 625px;
border-radius: 30px;
}
.eyes {
  width: 100%;
  height: 50px;

  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.eye {
  width: 45px;
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}



.pupil {
  width: 20px;
  height: 20px;
  border-radius: 101px;
  background-color: #000;
}

.pupil:hover{
    width:15px;
    height:15px;
}

#header{
    height: 60px
}

.bigText{
font: Roboto Slab;

color: #fff;
background: rgba(43, 27, 51, 0.6);
border-radius: 30px;
border-style: none;
border-width: 1px;
border-color: #fff;
height: 360px
}

.video {
display: block;
width: 640px;
height: 360px;
border-style: none;
display: flex;
background: rgba(43, 27, 51, 0.38);
border-radius: 30px;
margin-top: 4.9%
}

.dot {
  height: 150px;
  width: 50%;
  background-color: #2B1B33;
  border-radius: 50%;
  text-align:center;
  margin-left:25%;
  margin-right: 25%;
  margin-top: 8%
}

.comments{
margin-left:25%;
margin-right: 25%;
margin-top: -9%;
width: 50%;
height: 400px;


background: #2B1B33;
border-radius: 20px;
}

.com{
    font: Times New Roman;
    font-size: 20px;
    margin: 2% 9%;

}

.usr-img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 25px
}

.about{
    margin: 5%;
    font-size: 33px
}

.flex-child {
    flex: 1;
}

.flex-container {
    display: flex;
}

.flex-child:first-child {
    margin-right: 20px;
}
