.body{
    height: 1100px;
    color: white;
background: rgb(24,22,38);
background: linear-gradient(0deg, rgba(24,22,38,1) 0%, rgba(45,41,74,1) 16%, rgba(64,54,128,1) 25%, rgba(45,41,74,1) 34%, rgba(30,27,52,1) 72%, rgba(62,53,116,1) 83%, rgba(45,41,74,1) 92%);}
.logo{
    width: 150px;
    foreground-color: white;
}
::-webkit-scrollbar { /* chrome based */
    width: 0px;  /* ширина scrollbar'a */
    background: transparent;  /* опционально */
}

html {
    -ms-overflow-style: none;  /* IE 10+ */
    scrollbar-width: none; /* Firefox */
}

#nav-bar{
    background: rgb(45, 41, 74);
}

.myButton {
	background: #2B1B33;
	border-radius:30px;
	border:2px solid #1f2740;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:10px 16px;
	text-decoration:none;
}
.myButton:active {
	position:relative;
	top:1px;
}

.text-container{
    height: 657px;
width: 625px;
left: 109px;
top: 256px;
border-radius: 30px;
}
.eyes {
  width: 100%;
  height: 50px;

  justify-content: center;
  align-items: center;
  flex-direction: row;
  column-gap: 20px;
}

.eye {
  width: 45px;
  height: 35px;
  border-radius: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}



.pupil {
  width: 20px;
  height: 20px;
  border-radius: 101px;
  background-color: #000;
}

.pupil:hover{
    width:15px;
    height:15px;
}

#header{
    height: 60px
}

.bigText{
font: Roboto Slab;
    position: absolute;
width: 560px;
height: 450px;
left: 50px;
top: 100px;
color: #fff;
background: rgba(43, 27, 51, 0.6);
border-radius: 30px;
border-style: none;
border-width: 1px;
border-color: #fff;
}

.video {
position: absolute;
width: 640px;
height: 360px;
left: 650px;
top: 100px;
border-style: none;

background: rgba(43, 27, 51, 0.38);
border-radius: 30px;
}

.dot {
  height: 120px;
  width: 550px;
  background-color: #2B1B33;
  border-radius: 50%;
  display: block;
  margin-top: 490px;
  margin-left: 360px;
  text-align:center;
  position: absolute
}

.comments{
    position: absolute;
width: 558px;
height: 450px;
left: 356px;
top: 607px;

background: #2B1B33;
border-radius: 30px;
}

.com{
    font: Times New Roman;
    font-size: 20px;
    margin: 10px 30px;

}

.usr-img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin-right: 25px
}

.about{
    margin: 65px;
    font-size: 47px
}
